<ngx-qrcode-svg></ngx-qrcode-svg>
<form>
  <input [(ngModel)]="qrData" name="qrDataInput" type="text" />
  <label for="ecl-H">H</label>
  <input
    type="radio"
    id="ecl-H"
    name="errorCorrectionLevel"
    value="H"
    [(ngModel)]="errorCorrectionLevel"
  />
  <label for="ecl-Q">Q</label>
  <input
    type="radio"
    id="ecl-Q"
    name="errorCorrectionLevel"
    value="Q"
    [(ngModel)]="errorCorrectionLevel"
  />

  <p>Input:{{ qrData }}</p>
  <p>ECL: {{ errorCorrectionLevel }}</p>
</form>
